
footer{
  background: radial-gradient(#2e4455, #1d2e50);
  padding:100px 0;
  /*font-family: system-ui;*/
  font-family: 'Amaranth', sans-serif;

}
footer .content{
  width:1200px;
  padding: 20px;
  max-width: calc(100vw - 40px);
  margin: auto;
  display: grid;
  grid-template-columns: 20% 20% 20% 40%;
}
footer ul{
  padding: 0;
}
footer .content .item li{
  padding: 10px;
  list-style: none;
  color: #FFCE1B;
  text-align: left;

}
footer .content .item li:nth-child(1){
  color: #FFCE1B;
  font-weight: bold;
}

footer textarea, input{
  display: block;
  border:none;
  width:100%;
  background-color: #eee;
  border-radius: 4px;
  margin-bottom: 20px;
  padding:20px 0px;
  opacity: 0.8;
}

.toggleMenu{
  display: none;
}


@media screen and (max-width: 767px){

  footer{
    padding:10px;
  }
  footer .content{
    padding:0;
    grid-template-columns: 33.33% 33.33% 33.33%;
  }
  footer .item:nth-child(4){
    grid-column-start: 1;
    grid-column-end: 4;
    padding-right:20px;
  }


}
.zoom{
  transform: scale(1);
  transition: 0.5s;
}
.zoom:hover{
  transform: scale(1.1);
}

/*foooter*/
.block-features-list {
  background-color: #d7e6f1;
  border: 2px solid #f0f0f0;
  border-radius: 2px;
  display: -ms-flexbox;
  /*display: flex;*/
}
.block-features-item {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 16px 24px;
  display: -ms-flexbox;
  display: flex;
}

.block-features-divider {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 1px;
  background: #f0f0f0;
}

.block-features-icon {
  width: 48px;
  height: 48px;
  fill: #333;
  margin-right: 20px;
}
.block-features-content {
  padding-top: 2px;
}

*, :after, :before {
  box-sizing: border-box;
}

.block-features-title {
  font-size: 15px;
  text-transform: uppercase;
  line-height: 24px;
  font-weight: 700;
}

.block-features-subtitle {
  font-size: 13px;
}
