<footer>
  <div class="content">
    <div class="item">
      <ul>
        <li class="zoom">Về chúng tôi</li>
        <li>
          <p class="zoom">Chúng tôi cam kết mang đến những sân vận động tốt nhất cho mọi người thưởng thức
            những trận
            bóng đá hay.
          </p>
        </li>
      </ul>
    </div>
    <div class="item">
      <ul>
        <li class="zoom">Cơ sở chúng tôi</li>
        <li class="zoom">
          <p>Tọa lạc tại 280, Đường Trần Hưng Đạo
            An Hải, An Hải Tây, Sơn Trà, Đà Nẵng.<br>
            Số điện liên hệ: 0123456789.
          </p>
        </li>
      </ul>
    </div>
    <div class="item">
      <ul>
        <li class="zoom">Các sân chủ đạo</li>
        <li class="zoom">Sân An Đồn</li>
        <li class="zoom">Sân Hội An</li>
        <li class="zoom">Sân Mỹ Khê</li>
      </ul>
    </div>
    <div class="item">
      <ul>
        <li class="zoom" style="color: white">Phản hồi cho chúng tôi nếu muốn đặt sân<br>
          hoặc phản ánh chất lượng dịch vụ sân!
        </li>
      </ul>
      <li>
        <input class="zoom" type="email" placeholder=" Email..."
               style="width: 250px; height: 5px; border-radius: 10px">
      </li>
      <li>
        <button class="btn btn-danger" type="submit"
                style=" width: 50px; height: 40px; border-radius: 15px; border: none">Gửi
        </button>
      </li>
    </div>
  </div>
</footer>
