<!-------------------------Nhãn hiệu ---------------------------->
<div>
  <div class="container">
    <div class="row m-2">
      <ul class="d-flex justify-content-between" style="list-style: none">
        <li><a href="/runnerinn/en/asics/284/m" title="Asics">
          <img alt="Asics" src="https://storage.googleapis.com/tradeinn-images/images/logos_proveidors/284.jpg"></a>
        </li>
        <li><a href="/runnerinn/en/adidas/263/m" title="adidas">
          <img alt="adidas" src="https://storage.googleapis.com/tradeinn-images/images/logos_proveidors/263.jpg"></a>
        </li>
        <li><a href="/runnerinn/en/nike/365/m" title="Nike">
          <img alt="Nike" src="https://storage.googleapis.com/tradeinn-images/images/logos_proveidors/365.jpg"></a>
        </li>
        <li><a href="/runnerinn/en/puma/514/m" title="Puma">
          <img alt="Puma" src="https://storage.googleapis.com/tradeinn-images/images/logos_proveidors/514.jpg"></a>
        </li>
      </ul>
    </div>
  </div>
  <!------------------------------Carourel --------------------------------------------------->
  <!--  <div class="container">-->
  <!--    <div id="carouselExampleDark" class="carousel carousel-dark slide container-fluid" data-bs-ride="carousel">-->
  <!--      <div class="carousel-indicators">-->
  <!--        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"-->
  <!--                aria-current="true" aria-label="Slide 1"></button>-->
  <!--        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>-->
  <!--        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>-->
  <!--      </div>-->
  <!--      <div class="carousel-inner">-->
  <!--        <div class="carousel-item active" data-bs-interval="5000" style="height:600px">-->
  <!--          <img-->
  <!--            src="https://cdn.shopify.com/s/files/1/0456/5070/6581/files/1960740nocta.jpg?v=1680597659"-->
  <!--            class="d-block  w-100" alt="...">-->
  <!--        </div>-->
  <!--        <div class="carousel-item" style="height:600px" data-bs-interval="2000">-->
  <!--          <img-->
  <!--            src="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/if_w_gt_1920,w_1920/viVN/Images/football-fw23-federations-agnostics-hp-mh-d_tcm337-1000361.jpg"-->
  <!--            class="d-block w-100" alt="...">-->
  <!--        </div>-->
  <!--        <div class="carousel-item" style="height:600px">-->
  <!--          <img-->
  <!--            src="https://marvel-b1-cdn.bc0a.com/f00000000211790/playitagainsports.imgix.net/buyerweb/assets/_pias/_img/_home/home__jumbotron&#45;&#45;gym.jpg?auto=compress"-->
  <!--            class="d-block w-100" alt="...">-->
  <!--        </div>-->
  <!--      </div>-->
  <!--      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">-->
  <!--        <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
  <!--        <span class="visually-hidden">Previous</span>-->
  <!--      </button>-->
  <!--      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">-->
  <!--        <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
  <!--        <span class="visually-hidden">Next</span>-->
  <!--      </button>-->
  <!--    </div>-->
  <!--  </div>-->
  <div id="carouselExampleControls" class="carousel slide container" data-bs-ride="carousel">
    <div class="carousel-inner h-25 w-100">
      <div class="carousel-item active" style="height:600px">
        <img src="https://cdn.shopify.com/s/files/1/0456/5070/6581/files/1960740nocta.jpg?v=1680597659"
             class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" style="height:600px">
        <img
          src="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/if_w_gt_1920,w_1920/viVN/Images/football-fw23-federations-agnostics-hp-mh-d_tcm337-1000361.jpg"
          class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item " style="height:600px">
        <img
          src="https://marvel-b1-cdn.bc0a.com/f00000000211790/playitagainsports.imgix.net/buyerweb/assets/_pias/_img/_home/home__jumbotron--gym.jpg?auto=compress"
          class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <div style="background: #8B939B">

    <h1 class="text-center m-1">Bộ siêu tập</h1>
    <div class="site-section site-blocks-2 m-5" style="margin-top: 1%;">
      <div class="container">
        <div class="row d-flex justify-content-between">
          <div class="col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0" data-aos="fade" data-aos-delay="">
            <a class="block-2-item" href="#">
              <figure class="image" style="height: 400px;">
                <img
                  src="https://product.hstatic.net/1000008082/product/ull-zip_sweater_black_ht6856_21_model_1aae41c13f8c48719869122595bef1b6_e507a4bc211c40ce9491af32e59a51d9_large.jpg"
                  alt="" class="img-fluid">
              </figure>
              <div class="text">
                <span class="text-uppercase">Bộ siêu tập</span>
                <h3>Đàn ông</h3>
              </div>
            </a>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="100">
            <a class="block-2-item" href="#">
              <figure class="image" style="height: 400px;">
                <img
                  src="https://product.hstatic.net/1000008082/product/h56861_21_model_6f60071d4e0444dda84f2296796272ec_large.jpg"
                  alt="" class="img-fluid">
              </figure>
              <div class="text">
                <span class="text-uppercase">Bộ siêu tập</span>
                <h3>Phụ nữ</h3>
              </div>
            </a>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="200">
            <a class="block-2-item" href="#">
              <figure class="image" style="height: 400px;">
                <img
                  src="https://product.hstatic.net/1000008082/product/upload_2624803866e245559ccec75a371c7b22_ce7023fe8752417dac56ac75dc65b26e_large.jpg"
                  alt="" class="img-fluid">
              </figure>
              <div class="text">
                <span class="text-uppercase">Bộ siêu tập</span>
                <h3>Trẻ em</h3>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="col-md-10">
        <div class="row" *ngIf="productPage; else elseBlock">
          <div class="col-md-3 col-sm-6 col-6" *ngFor="let item of productList">
            <div class="single-package-item item1"
                 style="background-color: #295d76; border-radius: 10%; box-shadow: 0 0 5px 0 #2879d0 ">
              <div *ngIf="role=='ROLE_ADMIN'" style="position: absolute; top: 10px ; right: 15px; z-index: 1">
                <a type="button" (click)="getItemProduct(item.productId, item.productName)" style="border-radius: 50%"
                   class=" btn btn-danger" data-bs-toggle="modal"
                   data-bs-target="#exampleModal"><i
                  class="fas fa-times"></i></a>
              </div>
              <img [src]="item.avatar" class="image" style="height: 240px; border-radius: 10%"
                   alt="package-place">
              <div class="middle">
                <!--              <button class="btn btn-warning mb-3" [routerLink]="['/body/detail',item.productId]"-->
                <!--                      style="font-size: small" target="_blank"><img-->
                <!--                src="https://img.icons8.com/ios-glyphs/30/null/view-file.png" style="width: 20%"/> Chi tiết-->
                <!--              </button>-->
                <button class="btn btn-warning mb-2" [routerLink]="['/body/detail',item.productId]"
                        target="_blank" style="font-size: small; width: 150px"><img
                  src="https://img.icons8.com/pastel-glyph/64/null/briefcase--v2.png"
                  style="width: 15%"/> {{role == 'ROLE_ADMIN' ? 'Xem chi tiết' : 'Thêm vào giỏ'}}
                </button>
                <button [routerLink]="['/product/update',item.productId]" *ngIf="role=='ROLE_ADMIN'"
                        class="btn btn-warning mb-2" target="_blank" style="font-size: small"><img
                  src="https://img.icons8.com/external-tanah-basah-glyph-tanah-basah/48/null/external-edit-social-media-ui-tanah-basah-glyph-tanah-basah.png"
                  style="width: 15%"/> Chỉnh sửa
                </button>
              </div>
              <div class="single-package-item-txt text-center">
                <h3 class="text-uppercase name" style="height: 70px;">{{item.productName | slice : 0 : 35}}...</h3>
                <b class="pull-right" style="color: #fa8824">Giá: {{item.price | currency:'USD'}} </b>
                <b class="pull-right small"
                   style="color: #8c8c8c; text-decoration-line: line-through; display: block">{{item.price * 1.1 | currency:'USD'}}</b>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center" *ngIf="productPage">
          <a style="cursor: pointer; color: #0076ad; text-decoration: none; font-size: large" type="button"
             (click)="searchPrice($event, size+4)" *ngIf="!last">
            <img
              src="https://img.icons8.com/external-flaticons-lineal-color-flat-icons/64/null/external-arrow-down-web-flaticons-lineal-color-flat-icons-4.png"
              style="width: 30px"/><br>
            Xem thêm
          </a>
          <a style="cursor: pointer; color: #0076ad; text-decoration: none;font-size: large" type="button"
             (click)="searchPrice($event, 4)" (change)="scrollToBlog()" *ngIf="last">
            <img
              src="https://img.icons8.com/external-flaticons-lineal-color-flat-icons/64/null/external-arrow-up-web-flaticons-lineal-color-flat-icons-4.png"
              style="width: 30px"/>
            <br>
            Ẩn bớt
          </a>
        </div>
      </div>

    </div>
    <ng-template #elseBlock>
      <div class="text-center text-danger">Không tìm thấy danh sách</div>
    </ng-template>
  </div>
</div>
<div class=" text-center mt-5">
  <img src="https://vieclam123.vn/ckfinder/userfiles/images/images/phieu-danh-gia-su-hai-long-cua-khach(1).jpg">
</div>

<!------- Phụ kiện thể thao ---------------->

<section id="pack" class="packages">
  <div class="container">
    <div class="gallary-header text-center">
      <h1>Sản phẩm </h1>
    </div>
    <div class="packages-content">
      <div class="row">
        <div class="col-md-3 col-sm-3">
          <div class="single-package-item" style="background-color: #22162b">
            <img src="../assets/images/bong1.webp"
                 alt="package-place">
            <div class="single-package-item-txt">
              <h3>Bóng liên đoàn <span class="pull-right" style="color: yellow">1,800,000đ</span></h3>
              <div class="packages-para">
                <p style="color: white">
                  Mẫu bóng đá sân cỏ FIFA Quality Pro SEA Games UHV 2.07 Victor lấy màu sắc của quốc
                  kỳ nước chủ nhà Việt Nam (đỏ và vàng).
                </p>
              </div>
              <div class="text-center">
                <a class="btn btn-primary room-qview" target="_blank">THÊM VÀO GIỎ</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-3">
          <div class="single-package-item" style="background-color: #22162b">
            <img src="../assets/images/bong2.webp"
                 alt="package-place">
            <div class="single-package-item-txt">
              <h3>Bóng Offical <span class="pull-right" style="color: yellow">1,500,000đ</span></h3>
              <div class="packages-para">
                <p style="color: white">Trái banh đá bóng OFFICIAL sử dụng cho thi đấu và tập luyện. Sử dụng da PU
                  cao
                  cấp
                  chống
                  thấm nước, độ bền cao. Màu sắc đa dạng, độ nảy ổn định</p>
              </div>
              <div class="text-center">
                <a class="btn btn-primary room-g" target="_blank">THÊM VÀO GIỎ</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-3">
          <div class="single-package-item" style="background-color: #22162b">
            <img
              src="https://product.hstatic.net/1000008082/product/-shirt-ink-p33341-130301_image_0dadaedb0246466cbca6d1a830e6e889_master_e439acc9ccae4dce95067c98b4acba14_large.jpg"
              alt="package-place">
            <div class="single-package-item-txt">
              <h3>Găng tay Neuer <span class="pull-right" style="color: yellow">500,000đ</span></h3>
              <div class="packages-para">
                <p style="color: whitesmoke">
                  Trái banh đá bóng OFFICIAL sử dụng cho thi đấu và tập luyện. Sử dụng da PU cao
                  cấp
                  chống
                  thấm nước, độ bền cao. Màu sắc đa dạng, độ nảy ổn định
                </p>
              </div>
              <div class="text-center">
                <a class="btn btn-primary room-qview" target="_blank" routerLink="/detail">THÊM VÀO GIỎ</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-3">
          <div class="single-package-item" style="background-color: #22162b">
            <img src="../assets/images/bong2.webp"
                 alt="package-place">
            <div class="single-package-item-txt">
              <h3>Bóng Offical <span class="pull-right" style="color: yellow">1,500,000đ</span></h3>
              <div class="packages-para">
                <p style="color: white">Trái banh đá bóng OFFICIAL sử dụng cho thi đấu và tập luyện. Sử dụng da PU
                  cao
                  cấp
                  chống
                  thấm nước, độ bền cao. Màu sắc đa dạng, độ nảy ổn định</p>
              </div>
              <div class="text-center">
                <a class="btn btn-primary room-g" target="_blank">THÊM VÀO GIỎ</a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="packages-content">
      <div class="row">
        <div class="col-md-3 col-sm-3">
          <div class="single-package-item" style="background-color: #22162b">
            <img src="../assets/images/bong1.webp"
                 alt="package-place">
            <div class="single-package-item-txt">
              <h3>Bóng liên đoàn <span class="pull-right" style="color: yellow">1,800,000đ</span></h3>
              <div class="packages-para">
                <p style="color: white">
                  Mẫu bóng đá sân cỏ FIFA Quality Pro SEA Games UHV 2.07 Victor lấy màu sắc của quốc
                  kỳ nước chủ nhà Việt Nam (đỏ và vàng).
                </p>
              </div>
              <div class="text-center">
                <a class="btn btn-primary room-qview" target="_blank">THÊM VÀO GIỎ</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-3">
          <div class="single-package-item" style="background-color: #22162b">
            <img src="../assets/images/bong2.webp"
                 alt="package-place">
            <div class="single-package-item-txt">
              <h3>Bóng Offical <span class="pull-right" style="color: yellow">1,500,000đ</span></h3>
              <div class="packages-para">
                <p style="color: white">Trái banh đá bóng OFFICIAL sử dụng cho thi đấu và tập luyện. Sử dụng da PU
                  cao
                  cấp
                  chống
                  thấm nước, độ bền cao. Màu sắc đa dạng, độ nảy ổn định</p>
              </div>
              <div class="text-center">
                <a class="btn btn-primary room-g" target="_blank">THÊM VÀO GIỎ</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-3">
          <div class="single-package-item" style="background-color: #22162b">
            <img
              src="https://product.hstatic.net/1000008082/product/-shirt-ink-p33341-130301_image_0dadaedb0246466cbca6d1a830e6e889_master_e439acc9ccae4dce95067c98b4acba14_large.jpg"
              alt="package-place">
            <div class="single-package-item-txt">
              <h3>Găng tay Neuer <span class="pull-right" style="color: yellow">500,000đ</span></h3>
              <div class="packages-para">
                <p style="color: whitesmoke">
                  Trái banh đá bóng OFFICIAL sử dụng cho thi đấu và tập luyện. Sử dụng da PU cao
                  cấp
                  chống
                  thấm nước, độ bền cao. Màu sắc đa dạng, độ nảy ổn định
                </p>
              </div>
              <div class="text-center">
                <a class="btn btn-primary room-qview" target="_blank" routerLink="/detail">THÊM VÀO GIỎ</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-3">
          <div class="single-package-item" style="background-color: #22162b">
            <img src="../assets/images/bong2.webp"
                 alt="package-place">
            <div class="single-package-item-txt">
              <h3>Bóng Offical <span class="pull-right" style="color: yellow">1,500,000đ</span></h3>
              <div class="packages-para">
                <p style="color: white">Trái banh đá bóng OFFICIAL sử dụng cho thi đấu và tập luyện. Sử dụng da PU
                  cao
                  cấp
                  chống
                  thấm nước, độ bền cao. Màu sắc đa dạng, độ nảy ổn định</p>
              </div>
              <div class="text-center">
                <a class="btn btn-primary room-g" target="_blank">THÊM VÀO GIỎ</a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>


  </div>
</section>


</div>
</div>
