<!-------------------------Nhãn hiệu ---------------------------->
<div class="row m-2">
  <ul class="d-flex justify-content-between" style="list-style: none">
    <li><a href="/runnerinn/en/asics/284/m" title="Asics">
      <img alt="Asics" src="https://storage.googleapis.com/tradeinn-images/images/logos_proveidors/284.jpg"></a>
    </li>
    <li><a href="/runnerinn/en/adidas/263/m" title="adidas">
      <img alt="adidas" src="https://storage.googleapis.com/tradeinn-images/images/logos_proveidors/263.jpg"></a>
    </li>
    <li><a href="/runnerinn/en/nike/365/m" title="Nike">
      <img alt="Nike" src="https://storage.googleapis.com/tradeinn-images/images/logos_proveidors/365.jpg"></a>
    </li>
    <li><a href="/runnerinn/en/puma/514/m" title="Puma">
      <img alt="Puma" src="https://storage.googleapis.com/tradeinn-images/images/logos_proveidors/514.jpg"></a>
    </li>
  </ul>
</div>
<!------------------------------Carourel --------------------------------------------------->
<div class="row">
  <div id="carouselExampleDark" class="carousel carousel-dark slide container-fluid" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="5000">
        <img
          src="https://cdn.shopify.com/s/files/1/0456/5070/6581/files/1960740nocta.jpg?v=1680597659"
          style="height:80%" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="2000">

        <img
          src="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/if_w_gt_1920,w_1920/viVN/Images/football-fw23-federations-agnostics-hp-mh-d_tcm337-1000361.jpg"
          style="height:80%" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img
          src="https://marvel-b1-cdn.bc0a.com/f00000000211790/playitagainsports.imgix.net/buyerweb/assets/_pias/_img/_home/home__jumbotron--gym.jpg?auto=compress"
          style="height:80%" class="d-block w-100" alt="...">

      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<!----------------------------------------Sản phẩm bán chạy------------------------------------>
<!--<h1 class="text-center">Sản phẩm bán chạy</h1>-->
<!--<div class="row m-2">-->
<!--  <div class="col-md-3 col-sm-4">-->
<!--    <figure class="snip1515" routerLink="/detail">-->
<!--      <div class="profile-image">-->
<!--        <img src="../assets/images/giay1.png" alt="sample47"/>-->
<!--      </div>-->
<!--      <figcaption>-->
<!--        <h3>Fleece Marigold</h3>-->
<!--        <h4>Founder</h4>-->
<!--        <p>I'm killing time while I wait for life to shower me with meaning and happiness.</p>-->
<!--        <a class="btn btn-primary room-qview" target="_blank" >THÊM VÀO GIỎ</a>-->
<!--      </figcaption>-->
<!--    </figure>-->
<!--  </div>-->
<!--  <div class="col-md-3 col-sm-4">-->
<!--    <figure class="snip1515">-->
<!--      <div class="profile-image">-->
<!--        <img src="../assets/images/giay2.png" alt="sample83"/>-->
<!--      </div>-->
<!--      <figcaption>-->
<!--        <h3>Norman Gordon</h3>-->
<!--        <h4>Web Designer</h4>-->
<!--        <p>I'm killing time while I wait for life to shower me with meaning and happiness.</p>-->
<!--        <a class="btn btn-primary room-qview" target="_blank">THÊM VÀO GIỎ</a>-->
<!--      </figcaption>-->
<!--    </figure>-->
<!--  </div>-->
<!--  <div class="col-md-3 col-sm-4">-->
<!--    <figure class="snip1515">-->
<!--      <div class="profile-image">-->
<!--        <img src="../assets/images/gangtay4.jpg" alt="sample70"/>-->
<!--      </div>-->
<!--      <figcaption>-->
<!--        <h3>Ruby Von Rails</h3>-->
<!--        <h4>Public Relations</h4>-->
<!--        <p>The only skills I have the patience to learn are those that have no real application in life. </p>-->
<!--        <a class="btn btn-primary room-qview" target="_blank">THÊM VÀO GIỎ</a>-->
<!--      </figcaption>-->
<!--    </figure>-->
<!--  </div>-->
<!--  <div class="col-md-3 col-sm-4">-->
<!--    <figure class="snip1515">-->
<!--      <div class="profile-image">-->
<!--        <img src="../assets/images/gangtay3.jpg" alt="sample70"/>-->
<!--      </div>-->
<!--      <figcaption>-->
<!--        <h3>Ruby Von Rails</h3>-->
<!--        <h4>Public Relations</h4>-->
<!--        <p>The only skills I have the patience to learn are those that have no real application in life. </p>-->
<!--        <a class="btn btn-primary room-qview" target="_blank">THÊM VÀO GIỎ</a>-->
<!--      </figcaption>-->
<!--    </figure>-->
<!--  </div>-->
<!--</div>-->
<div class="bg-light">


<div class="site-section site-blocks-2 m-5" style="margin-top: 1%;">
  <div class="container">
    <div class="row d-flex justify-content-between">
      <div class="col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0" data-aos="fade" data-aos-delay="">
        <a class="block-2-item" href="#">
          <figure class="image" style="height: 400px;">
            <img src="https://product.hstatic.net/1000008082/product/ull-zip_sweater_black_ht6856_21_model_1aae41c13f8c48719869122595bef1b6_e507a4bc211c40ce9491af32e59a51d9_large.jpg" alt="" class="img-fluid">
          </figure>
          <div class="text">
            <span class="text-uppercase">Collections</span>
            <h3>Men</h3>
          </div>
        </a>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="100" >
        <a class="block-2-item" href="#">
          <figure class="image" style="height: 400px;">
            <img src="https://product.hstatic.net/1000008082/product/h56861_21_model_6f60071d4e0444dda84f2296796272ec_large.jpg" alt="" class="img-fluid">
          </figure>
          <div class="text">
            <span class="text-uppercase">Collections</span>
            <h3>women</h3>
          </div>
        </a>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="200">
        <a class="block-2-item" href="#">
          <figure class="image" style="height: 400px;">
            <img src="https://product.hstatic.net/1000008082/product/upload_2624803866e245559ccec75a371c7b22_ce7023fe8752417dac56ac75dc65b26e_large.jpg" alt="" class="img-fluid">
          </figure>
          <div class="text">
            <span class="text-uppercase">Collections</span>
            <h3>children</h3>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<h1 class="text-center m-1">Các môn thể thao nổi bật hiện nay</h1>
<div class="row m-2 filtr-container">
  <div class="col-md-3 col-sm-6 filtr-item">
    <a><img src="../assets/images/mon1.png" class="card-img-top" alt="..."></a>
  </div>
  <div class="col-md-3 col-sm-6 filtr-item">
    <a><img src="../assets/images/mon2.png" class="card-img-top" alt="..."></a>
  </div>
  <div class="col-md-3 col-sm-6 filtr-item">
    <a><img src="../assets/images/mon3.png" class="card-img-top" alt="..."></a>
  </div>
  <div class="col-md-3 col-sm-6 filtr-item">
    <a><img src="../assets/images/mon4.png" class="card-img-top" alt="..."></a>
  </div>
</div>
<!------- Phụ kiện thể thao ---------------->

<section id="pack" class="packages">
  <div class="container">
    <div class="gallary-header text-center">
      <h1>Sản phẩm </h1>
    </div>
    <div class="packages-content">
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <div class="single-package-item" style="background-color: coral">
            <img src="../assets/images/bong1.webp"
                 alt="package-place">
            <div class="single-package-item-txt">
              <h3>Bóng liên đoàn <span class="pull-right" style="color: blue">1,800,000đ</span></h3>
              <div class="packages-para">
                <p style="color: black">
                  Mẫu bóng đá sân cỏ FIFA Quality Pro SEA Games UHV 2.07 Victor lấy màu sắc của quốc
                  kỳ nước chủ nhà Việt Nam (đỏ và vàng).
                </p>
              </div>
              <div class="text-center">
                <a class="btn btn-primary room-qview" target="_blank">THÊM VÀO GIỎ</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-4">
          <div class="single-package-item" style="background-color: coral">
            <img src="../assets/images/bong2.webp"
                 alt="package-place">
            <div class="single-package-item-txt">
              <h3>Bóng Offical <span class="pull-right" style="color: blue">1,500,000đ</span></h3>
              <div class="packages-para">
                <p style="color: black">Trái banh đá bóng OFFICIAL sử dụng cho thi đấu và tập luyện. Sử dụng da PU cao
                  cấp
                  chống
                  thấm nước, độ bền cao. Màu sắc đa dạng, độ nảy ổn định</p>
              </div>
              <div class="text-center">
                <a class="btn btn-primary room-g" target="_blank">THÊM VÀO GIỎ</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-4">
          <div class="single-package-item" style="background-color: coral">
            <img src="../assets/images/gangtay1.webp"
                 alt="package-place">
            <div class="single-package-item-txt">
              <h3>Găng tay Neuer <span class="pull-right" style="color: blue">500,000đ</span></h3>
              <div class="packages-para">
                <p style="color: black">
                  Găng tay thủ môn Predator Pro Manuel Neuer
                  - Mút 4mm siêu dính
                  - Cut : Negative
                  - Chống trầy : Có
                  - Backhand : Silicon hỗ trợ đấm bóng
                  - Handstrap : 2 vòng chắc chắn
                </p>
              </div>
              <div class="text-center">
                <a class="btn btn-primary room-qview" target="_blank">THÊM VÀO GIỎ</a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

</div>
