<section class="header">
  <nav>
    <div class="logo">
      <img class="animationTop delay-01" src="../assets/images/international_running__1_-removebg-preview.png"
           style="height: 129px;width:172px"/>
    </div>
    <div class="nav-links">
      <ul>
        <li>
          <form class="d-flex">
            <div class=" me-2">
              <input class="form-control" type="search" placeholder="Search"
                     aria-label="Search">
            </div>
            <div>
              <button class="btn btn-outline-success" type="submit">Search</button>
            </div>
          </form>
        </li>
        <li class="animationTop delay-03"><a style="color:black"><b>QUẢN LÝ ĐẶT SÂN</b></a>
        <li class="animationTop delay-03"><a style="color:black"><b>ĐĂNG NHẬP</b></a>
        </li>
        <li class="animationTop delay-03">
          <a><img
            src="https://img.icons8.com/external-wanicon-lineal-color-wanicon/64/null/external-cart-supermarket-wanicon-lineal-color-wanicon.png"
            style="width: 70px"/></a>
        </li>

      </ul>
    </div>
  </nav>
</section>
