* {
  margin: 0 auto;
  padding: 0;
}

.header {
  min-height: 15vh;
  width: 100%;
  background-image: linear-gradient(rgba(102, 123, 213, 0.4), rgba(50, 76, 179, 0.4)), url(/assets/images/img-bg-01.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  box-shadow: 0 0 20px 0 #253365
}

nav {
  display: flex;
  padding: 1% 1%;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 200px;
  height: 60px;
}

.nav-links {
  color: #f7e296;
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: #FFCE1B;
  text-decoration: none;
  font-size: 13px;
}

.nav-links ul li::after {
  content: '';
  width: 0;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.text-box {
  width: 70%;
  color: #FFCE1B;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box h1 {
  font-size: 50px;
}

.text-box p {
  margin: 10px 0 40px;
  font-size: 18px;
  color: #f7e296;
}

.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #FFCE1B;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.hero-btn:hover {
  border: 1px solid #f44336;
  transition: 1s;
  background: #f44336;
}

nav .fa {
  display: none;
}
@media (max-width: 900px) {
  .text-box h1 {
    font-size: 20px;
  }

  .nav-links ul li {
    display: block;
  }
}
.scroll-to-top{
  top: 50%;
  position: fixed;
  z-index: 1;
  margin-left: 95%;
}

@keyframes showtop{
  from{
    opacity: 0;
    transform: translate(0,50px);
  }to{
     opacity: 1;
     transform: translate(0,0);
   }
}
.animationTop {
  opacity: 0;
  animation:showtop 0.5s ease-in-out 1 forwards;
}
.delay-01{
  animation-delay: 0.1s!important;
}
.delay-02{
  animation-delay: 0.2s!important;
}
.delay-03{
  animation-delay: 0.3s!important;
}
.delay-04{
  animation-delay: 0.4s!important;
}
.delay-05{
  animation-delay: 0.5s!important;
}
.delay-06{
  animation-delay: 0.6s!important;
}
.delay-07{
  animation-delay: 0.7s!important;
}
.delay-08{
  animation-delay: 0.8s!important;
}
.delay-09{
  animation-delay: 0.9s!important;
}
.delay-1{
  animation-delay: 1s!important;
}
.delay-11{
  animation-delay: 1.1s!important;
}
.delay-12{
  animation-delay: 1.2s!important;
}
.delay-13{
  animation-delay: 1.3s!important;
}
.delay-14{
  animation-delay: 1.4s!important;
}
.delay-15{
  animation-delay: 1.5s!important;
}
.delay-16{
  animation-delay: 1.6s!important;
}
.delay-17{
  animation-delay: 1.7s!important;
}
.delay-18{
  animation-delay: 1.8s!important;
}
.delay-19{
  animation-delay: 1.9s!important;
}
.delay-2{
  animation-delay: 2s!important;
}
.delay-21{
  animation-delay: 2.1s!important;
}
.delay-22{
  animation-delay: 2.2s!important;
}
.delay-23{
  animation-delay: 2.3s!important;
}
.delay-24{
  animation-delay: 2.4s!important;
}
.custom-select{
  font-family: Arial, serif;
  position: relative;
}
.select-select{
  display: none;
}
.select-selected{
  background-color: #f44336;
}
ul.dropdown-menu li a.dropdown {
  font-family: Arial, serif;
}

/*danhmucsanpham*/
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: radial-gradient(#0b75c7, #0a307d);
  min-width: 150px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.category-item {
  padding: 10px 16px;

}

.dropdown-content > .category-item:hover {
  cursor: pointer;
  width: 100%;
  font-weight: bold;
  background: darkgrey;
}
.icon-margin {
  text-align: center;
}

/*search*/
.zoom{
  transform: scale(1);
  transition: 0.4s;
}
.zoom:hover{
  transform: scale(1.2);
  background-color: rgba(239, 2, 2, 0.9);
  border-radius: 5px;
}
