<section class="vh-100" style="background-color: #f0bd74;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6  col-lg-5 d-none d-md-block">
              <img
                src="https://ec.europa.eu/eurostat/documents/6921402/9104237/Shutterstock_Lisa_Kolbasa.png/f988f8b6-4138-4a91-9761-885bacab0ce2?t=1533725002000"
                alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;height: 100%"/>
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">

                <form class="form-signin" [formGroup]="formLogin" (ngSubmit)="login()">
                  <div class="d-flex align-items-center mb-3 pb-1">
                    <span class="h1 fw-bold mb-0">JUMP START</span>
                  </div>

                  <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Điền thông tin tài khoản</h5>

                  <label class="form-label" for="form2Example18">Tài khoản: </label>
                  <input type="email" formControlName="username" id="form2Example18" class="form-control"/>
                  <div style="position: absolute">
                    <small class="m-0" style="color: red">{{errors.username}}</small>
                    <small class="m-0" style="color: red"
                           *ngIf="formLogin.controls.username.hasError('required')&&formLogin.controls.username.touched">Yêu
                      cầu phải nhập tài khoản.</small>
                    <small class=" m-0" style="color: red"
                           *ngIf="formLogin.controls.username.hasError('minlength')&&formLogin. controls.username.dirty">Tài
                      khoản phải lớn hơn 3 ký tự.</small>
                  </div>

                  <div class="form-outline mb-5">
                    <label class="form-label" for="form2Example28">Mật khẩu: </label>
                    <input type="password" id="form2Example28" formControlName="password"
                           class="form-control "/>
                    <div style="position: absolute">
                      <small class=" m-0" style="color: red">{{errors.password}}</small>
                      <small class=" m-0" style="color: red"
                             *ngIf="formLogin.controls.password.hasError('required')&&formLogin.controls.username.touched">Yêu
                        cầu phải nhập mật khẩu.</small>
                      <small class=" m-0" style="color: red"
                             *ngIf="formLogin.controls.password.hasError('minlength')&&formLogin. controls.username.dirty">Mật
                        khẩu phải lớn hơn 3 ký tự.</small>
                    </div>
                  </div>

                  <div class=" mb-3 text-center">
                    <button class="btn btn-block w-100" style="color: #1d2e50; background-color: #ea7217" type="submit">
                      Đăng
                      nhập
                    </button>
                  </div>
                  <div class=" text-left">
                    <label for="remember" class="">Ghi nhớ đăng nhập
                      <input type="checkbox" id="remember" formControlName="rememberMe">
                    </label>
                  </div>
                  <p>Đăng ký tài khoản? <a data-bs-toggle="modal"
                                           data-bs-target="#exampleModal" href="" class=" link-info">Tại đây</a></p>

                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md" style="color: #eeeeee">
    <div class="modal-content container"
         style="background-image: linear-gradient(rgba(102, 123, 213, 0.3), rgba(50, 76, 179, 0.2)), url('https://ec.europa.eu/eurostat/documents/6921402/9104237/Shutterstock_Lisa_Kolbasa.png/f988f8b6-4138-4a91-9761-885bacab0ce2?t=1533725002000'); background-position: bottom">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="color: #fa8824">Đăng ký!!!</h5>
        <button type="button" id="alo" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form class="form-signin" [formGroup]="formRegister" (ngSubmit)="register()">
        <div class="modal-body">
          <div class="align-items-center">
            <div class="mb-4 row align-items-center">
              <label for="name" class="col-md-3" style="color: black"><b>Họ và tên:</b> </label>
              <div class="col-md-9 form-label-group">
                <input autofocus id="name" formControlName="name" type="text" class="form-control">
                <div class="error-place" style="position: absolute">
                  <small style="; color: red"
                         *ngIf="formRegister.controls.name.hasError('required') && formRegister.controls.name.touched">Yêu
                    cầu phải nhập.
                  </small>
                </div>
              </div>
            </div>
            <div class=" mb-4 row align-items-center">
              <label for="username" class="col-md-3" style="color: black"><b>Tài khoản:</b> </label>
              <div class="col-md-9 form-label-group">
                <input autofocus id="username" formControlName="username" type="text" class="form-control">
                <div class="error-place" style="position: absolute">
                  <small style=" color: red"
                         *ngIf="formRegister.controls.username.hasError('required') && formRegister.controls.username.touched">Yêu
                    cầu phải nhập.
                  </small>
                </div>
              </div>
            </div>
            <div class=" mb-4 row align-items-center" formGroupName="pwGroup">
              <label for="pass" class="col-md-3" style="color: black"><b>Mật khẩu:</b> </label>
              <div class="col-md-9 form-label-group">
                <input id=pass formControlName="password" type="password" class="form-control" required>
                <div class="error-place" style="position: absolute">
                  <small style="color: red"
                         *ngIf="formRegister.get('pwGroup').get('password').hasError('required')&& formRegister.get('pwGroup').get('password').touched">Yêu cầu phải nhập.
                  </small>
                  <small style="color: red"
                         *ngIf="formRegister.get('pwGroup').get('password').hasError('minlength')">Độ dài phải hơn 3 ký
                    tự.
                  </small>
                  <small style="color: red"
                         *ngIf="formRegister.get('pwGroup').get('password').hasError('maxlength')">Độ dài phải nhỏ hơn
                    32 ký tự.
                  </small>
                </div>
              </div>

            </div>
            <div class=" mb-4 row align-items-center" formGroupName="pwGroup">
              <label for="pass2" class="col-md-3" style="color: black"><b>Xác nhận mật khẩu:</b> </label>

              <div class="col-md-9 form-label-group">
                <input id=pass2 formControlName="confirmPassword" type="password" class="form-control"
                       required>
                <div class="error-place" style="position: absolute">
                  <small style="color: red" *ngIf="formRegister.controls.pwGroup.hasError('passwordNotMatch')
                && formRegister.controls.pwGroup.dirty">Không khớp mật khẩu</small>
                </div>
              </div>
            </div>
            <div class=" mb-4 row align-items-center">

              <label for="email" class="col-md-3" style="color: black"><b>Email:</b> </label>
              <div class="col-md-9 form-label-group">
                <input id="email" formControlName="email" type="email" class="form-control"
                       required>
                <div class="error-place" style="position: absolute">
                  <small style="color: red"
                         *ngIf="formRegister.controls.email.hasError('required') && formRegister.controls.email.touched">Yêu
                    cầu phải nhập.
                  </small>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer justify-content-center">
          <div *ngIf="isSubmited then submited else notSubmited"></div>
          <ng-template #notSubmited>
            <button class="btn w-50" style="background: #ea7217" type="submit">Đăng ký</button>
          </ng-template>
          <ng-template #submited>
            <button class="btn btn-primary text-uppercase" type="button" disabled>
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              Loading...
            </button>
          </ng-template>
        </div>
      </form>
    </div>
  </div>
</div>
