<div class="profile-reviews tab" >
  <h1>Lịch sử mua hàng</h1>
  <table *ngIf="orderPage" class="table table-bordered table-hover" style="background-color: white">
    <thead class="table-primary">
    <tr class="text-center">
      <th scope="col">STT</th>
      <th scope="col">Ngày đặt hàng</th>
      <th scope="col">Địa chỉ giao hàng</th>
      <th scope="col">Số điện thoại</th>
      <th scope="col">Ghi chú</th>
      <th scope="col">Chi tiết</th>
    </tr>
    </thead>
    <tbody>
    <tr class="text-center align-middle" *ngFor="let o of orderList,index as i ">
      <th scope="row" >{{i + 1}}</th>
      <td>{{o.orderDate }}</td>
      <td>{{o.address }}</td>
      <td>{{o.phoneNumber }}</td>
      <td>{{o.note }}</td>
      <td>
        <a class="btn btn-outline-primary" style="text-align: center; width: 50px"  data-bs-toggle="modal" data-bs-target="#exampleModal1"
           (click)="getPurchaseHistory(o.orderId)">
          <img src="https://img.icons8.com/external-others-inmotus-design/67/null/external-I-mobile-keyboard-others-inmotus-design.png"/>
        </a>
      </td>
    </tr>
    </tbody>
  </table>
  <p *ngIf="!orderPage" class="text-danger text-center">Chưa có thông tin mua hàng.</p>


  <!--        Phân trang-->
  <div>
    <div *ngIf="orderPage" class="d-flex justify-content-center" id="last-row">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item" [ngClass]="orderPage.first ? 'disabled': ''">
            <a role="button" class="page-link" (click)="getOrderPurchase(0)">Trang đầu</a>
          </li>
          <li class="page-item" [ngClass]="orderPage.first ? 'disabled': ''">
            <a role="button" class="page-link" (click)="getOrderPurchase(orderPage.number - 1)"><</a>
          </li>
          <li class="page-item" *ngIf="orderPage.number - 3 > 0">
            <a role="button" class="page-link"
               (click)="getOrderPurchase(orderPage.number - 4)">{{orderPage.number - 3}}</a>
          </li>
          <li class="page-item" *ngIf="orderPage.number - 2 > 0">
            <a role="button" class="page-link"
               (click)="getOrderPurchase(orderPage.number - 3)">{{orderPage.number - 2}}</a>
          </li>
          <li class="page-item" *ngIf="orderPage.number - 1 > 0">
            <a role="button" class="page-link"
               (click)="getOrderPurchase(orderPage.number - 2)">{{orderPage.number - 1}}</a>
          </li>
          <li class="page-item" *ngIf="orderPage.number > 0">
            <a role="button" class="page-link"
               (click)="getOrderPurchase(orderPage.number - 1)">{{orderPage.number}}</a>
          </li>
          <li class="page-item active"><a class="page-link">{{orderPage.number + 1}}</a></li>
          <li class="page-item" *ngIf="orderPage.number + 2 <= orderPage.totalPages">
            <a role="button" class="page-link"
               (click)="getOrderPurchase(orderPage.number + 1)">{{orderPage.number + 2}}</a>
          </li>
          <li class="page-item" *ngIf="orderPage.number + 3 <= orderPage.totalPages">
            <a role="button" class="page-link"
               (click)="getOrderPurchase(orderPage.number + 2)">{{orderPage.number + 3}}</a>
          </li>
          <li class="page-item" *ngIf="orderPage.number + 4 <= orderPage.totalPages">
            <a role="button" class="page-link"
               (click)="getOrderPurchase(orderPage.number + 3)">{{orderPage.number + 4}}</a>
          </li>
          <li class="page-item" *ngIf="orderPage.number + 5 <= orderPage.totalPages">
            <a role="button" class="page-link"
               (click)="getOrderPurchase(orderPage.number + 4)">{{orderPage.number + 5}}</a>
          </li>
          <li class="page-item" [ngClass]="orderPage.last ? 'disabled': ''">
            <a role="button" class="page-link"
               (click)="getOrderPurchase(orderPage.number + 1)">></a>
          </li>
          <li class="page-item" [ngClass]="orderPage.last ? 'disabled': ''">
            <a role="button" class="page-link"
               (click)="getOrderPurchase(orderPage.totalPages - 1)">
              Trang cuối
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
<!-- Modal Purchase History-->
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="example1l" aria-hidden="true">
  <div class="modal-dialog modal-lg" style="top: 10%;">
    <div class="modal-content" style="box-shadow: 0 0 20px 0 #253365;border-radius: 2%">
      <div class="modal-header">
        <h3 class="modal-title" id="example1">Chi tiết đơn hàng</h3>
        <button type="button" class="btn-close " data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table *ngIf="cartList" class="table table-bordered table-hover" style="background-color: white">
          <thead class="table-primary">
          <tr class="text-center">
            <th scope="col">STT</th>
            <th scope="col">Tên sản phẩm</th>
            <th scope="col">Hình ảnh</th>
            <th scope="col">Giá mua</th>
            <th scope="col">Số lượng</th>
          </tr>
          </thead>
          <tbody>
          <tr class="text-center align-middle" *ngFor="let c of cartList,index as i ">
            <th scope="row" >{{i + 1}}</th>
            <td>{{c.productName }}</td>
            <td style="width: 40%"><img [src]="c.avatar" style="width: 20%"></td>
            <td>{{c.price | currency:'USD'}}</td>
            <td>{{c.quantity }}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng lại</button>
      </div>
    </div>
  </div>
</div>

