<div class="container my-5">
  <h1>Chi tiết sản phẩm</h1>
  <div class="row">
    <div class="col-md-5">
      <div class="main-img">
        <img class="img-fluid"  [src]="product.avatar" alt="ProductS">
      </div>
      <div class="mt-md-5">
        <h6 class="mb-0"><a href="#!" class="text-body"><i
          class="fas fa-long-arrow-alt-left me-2"></i>Quay lại </a></h6>
      </div>
    </div>
    <div class="col-md-7">
      <div class="main-description px-2">
        <div class="category text-bold">
          Loại: Đồ thể thao nam
        </div>
        <div class="product-title text-bold my-3">
          {{product.productName}}
        </div>


        <div class="price-area my-4">
          <p class="old-price mb-1"><del>2.000.0000</del> <span class="old-price-discount text-danger">(20% giảm)</span></p>
          <p class="new-price text-bold mb-1">1.600.000</p>
        </div>


        <div class="d-flex mb-3">
          <p class="text-dark font-weight-medium mb-0 mr-3">Sizes:</p>
          <form style="margin-left:1%">
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" class="custom-control-input" id="size-1" name="size" >
              <label class="custom-control-label" for="size-1">XS</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" class="custom-control-input" id="size-2" name="size">
              <label class="custom-control-label" for="size-2">S</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" class="custom-control-input" id="size-3" name="size">
              <label class="custom-control-label" for="size-3">M</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" class="custom-control-input" id="size-4" name="size">
              <label class="custom-control-label" for="size-4">L</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" class="custom-control-input" id="size-5" name="size">
              <label class="custom-control-label" for="size-5">XL</label>
            </div>
          </form>
        </div>

        <div class="buttons d-flex my-3">
          <div class="block">
            <button class="shadow btn custom-btn">Thêm vào giỏ</button>
          </div>
          <div class="block quantity">
            <input type="number" class="form-control" id="cart_quantity" value="1" min="0" max="5" placeholder="Enter email" name="cart_quantity">
          </div>
        </div>
      </div>

      <div class="product-details my-4">

      </div>

      <div class="row questions bg-light p-3">
        <div class="col-md-12 text">
          <p class="details-title text-color mb-1">Mô tả chi tiết sản phẩm </p>
          <p class="description">Áo hoodie dạng lưới thoáng khí mang lại cảm giác thoải mái như mới.
            Co giãn toàn thân dễ dàng vận động.</p>
        </div>
      </div>

      <div class="delivery my-4">
        <p class="font-weight-bold mb-0"><span><i class="fa-solid fa-truck"></i></span>
          <b>Đơn hàng sẽ được chuyển đi trong 3 ngày kể từ ngày nhận đơn</b> </p>
        <p class="text-secondary">Đặt ngay bây giờ để sản phẩm có thể được vận chuyển</p>
      </div>
      <div class="delivery-options my-4">
        <p class="font-weight-bold mb-0"><span><i class="fa-solid fa-filter"></i></span> <b>Đơn vị vận chuyển</b> </p>
        <p class="text-secondary">Express</p>
      </div>
      <hr class="my-4">

    </div>
  </div>
</div>

<div style="margin-bottom: 50px;" class="container">
  <div class="card" style="background: radial-gradient(#0b75c7, #0a307d);">
    <div class="container-fluid">
      <div class="wrapper row">
        <div class="preview col-md-6">

          <div class="preview-pic tab-content">
            <div class="tab-pane active" id="pic-1">
              <img [src]="product.avatar"/>
            </div>
          </div>

        </div>
        <div class="details col-md-6">
          <h3 class="product-title">{{product.productName}}</h3>
          <div class="rating">
            <div class="stars">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star unchecked"></span>
              <span class="fa fa-star unchecked"></span>
            </div>
            <span class="review-no">41 đánh giá</span>
          </div>
          <p class="product-description">{{product.description}}</p>
          <h4 class="price">Giá: <span>{{product.price | currency:'USD'}} </span></h4>
          <p class="vote"><strong>91%</strong> người mua thích sản phẩm này! <strong>(87 phiếu)</strong></p>
          <!--          <h5 class="size d-flex">-->
          <!--            <label for="size" class="me-2 col-4">KÍCH CỠ: </label>-->
          <!--              <select id="size" class="select form-select col-8" #size style="width: 24%" >-->
          <!--&lt;!&ndash;                <option value="">Chọn size</option>&ndash;&gt;-->
          <!--                <option *ngFor="let s of sizeList" [value]="s.sizeId">{{s.name}}</option>-->
          <!--              </select>-->
          <!--          </h5>-->

          <h5 class="colors d-flex" style="display: inline" >
            <div class="col-4">Số lượng: </div>
            <div class="col-8">
              <button class="btn btn-outline-warning px-2" style="display: inline; background: none; border: none"
                      onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                <i class="fas fa-minus"></i>
              </button>
              <input id="form1" min="0" value="1" style="width: 60px;display: inline" name="quantity" #quantity1 type="number"
                     class="form-control form-control-sm" />

              <button class="btn btn-outline-warning px-2"  style="display: inline; background: none; border: none"
                      onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                <i class="fas fa-plus"></i>
              </button>
            </div>
          </h5>
          <h5 class="colors text-center">
            <button class="add-to-cart btn btn-default" type="button" [disabled]="role=='ROLE_ADMIN'">
              <img src="https://img.icons8.com/pastel-glyph/64/null/briefcase--v2.png" style="width: 15%"/>
              Thêm vào giỏ</button>
          </h5>
        </div>
      </div>
    </div>
    <div class="pt-5">
      <h6 class="mb-0"><a routerLink="/" class="text-body btn btn-outline-primary"><i
        class="fas fa-long-arrow-alt-left me-2"></i>Quay lại trang chủ</a></h6>
    </div>
  </div>

</div>
